extends ../layout

block content
  table.books
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
        th edit
    tbody
      each book in Books
        tr
          td
            a(href='/books/'+ book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year
          td 
            a(href='/books/'+ book.id+"/edit")
              i.fa.fa-file.button 