extends ../layout

block content
    
    h5 Title
    h4= book.title

    h5 Author
    h4= book.author

    h5 Genre
    h4= book.genre

    h5 First Published in:
    h4= book.year


    
    p
    a(href="/books/" + book.id + "/edit") Edit Article 

    p
        form(action="/books/" + book.id + "/delete", method="post")
            input(type='submit', value='Delete Book')

