extends ../layout

block content


    .formBook
        .field_title
            p Title
            p= book.title

        .field_title
            p Author
            p= book.author

        .field_title
            p Genre
            p= book.genre

        .field_title
            p First Published in:
            p= book.year

        a.button(href="/books/" + book.id + "/edit") Edit Article 
        form(action="/books/" + book.id + "/delete", method="post")
        p
            input(type='submit', value='Delete Book')

