extends layout

block content
    .formBook.text_brighter
        h1 Page Not Found
        p Sorry! We couldn&apos;t find the page you were looking for.
        hr
        br
        //- h1= error.message
        //- h2= error.status
        br
        a.button(href='/') Home

